@font-face {
    font-family: "ArcadeFont";
    src: url("fonts/ARCADECLASSIC.TTF");
}

body {
    margin: 0px;
}

header {
    background-color: #0c0f3e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

aside {
    grid-column: 1;
    font-family: "ArcadeFont", "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
    grid-gap: 0px;
    padding: 0px;
}

.grid-container > div {
    text-align: center;
}

aside{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #ececec;
    padding: 0px;
    text-align: center;
}

#black-box{
    background-color: #000;
    padding: 0.3px;
}

aside h3{
    margin: 30px 0px 30px 0px;
}

aside ul{
    padding: 0px;
}

aside li{
    list-style-type: none;
    padding: 20px 0px;
    border-bottom: 2px solid #fff;
}

.title-section{
    grid-column: 2 / 5;
    font-family: "ArcadeFont", "Courier New", monospace;
    background-color: #ffbf00;
}

.product-photo-section{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
}

.product-photo-section img{
    width: 300px;
    height: 80%;
    border: 1px solid #000;
    margin-left: 7px;
    margin-bottom: 2px;
    object-fit: contain;
}

.product-description-section{
    grid-column: 3 / 5;
    background-color: #ececec;
    border: 3px solid #fff;
    font-family: "ArcadeFont", "Courier New", monospace;
    font-size: 15px;
    padding: 25px;
}

.product-description-section p{
    text-align: justify;
}

.product-model-section{
    grid-column: 3/4;
    font-family: "ArcadeFont", "Courier New", monospace;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    background-color: #ff00ff;
}

.product-model-section h4{
    margin: 25px 0px 0px 0px;
    font-size: 20px;
}

.product-model-section p{
    margin: 5px 0px;
    font-size: 35px;
}

.product-shop-section{
    grid-column: 4/5;
    border-right: 3px solid #fff;
    background-color: #00ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.product-shop-section #buy-btn{
    background-color: #ffffff;
    color: #000;
    width: 200px;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
}

.product-shop-section  #buy-btn:hover{
    background-color: #00681c;
    color: #fff;
}

.product-shop-section #contact-btn{
    background-color: #ffffff;
    color: #000;
    width: 200px;
    font-size: 10px;
    padding: 10px;
    margin: 0;
}

.product-shop-section #contact-btn:hover{
    background-color: #000;
    color: #fff;
}

/* FORM */

.grid-container-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    padding: 0px;
}

.title-section-form{
    grid-column: 1;
    font-family: "ArcadeFont", "Courier New", monospace;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 15rpx;
}

.title-section img{
    width: 300px;
    height: 80%;
    border: 1px solid #000;
    margin: 10px;
}

.title-section p{
    margin: 10px 30px;
}


.contact-form-section{
    grid-column: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: "ArcadeFont", "Courier New", monospace;
}

.contact-form-section div{
    margin: 30px 0px;
}

input[type=submit] {
    background-color: #04aa2e;
    color: white;
    padding: 12px 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


footer {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

footer img,p{
    margin: 0;
}